Assets/UnityARKitPlugin/* linguist-vendored
Assets/Standard\ Assets/* linguist-vendored
Assets/Plugins/* linguist-vendored
Assets/PlayServicesResolver/* linguist-vendored
Assets/Parse/* linguist-vendored
Assets/JsonDotNet/* linguist-vendored
Assets/Firebase/* linguist-vendored
